[submodule "cj/AI"]
	path = cj/AI
	url = https://github.com/younhuiji/CJ_hackathon/
[submodule "cj/traditionalAlcohol"]
	path = cj/traditionalAlcohol
	url = https://github.com/younhuiji/CJ_hackathon/
