<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{ layout/layout.html }"
>
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<div layout:fragment="content">
    <main class="container">

    <!-- 음식 업로드 -->
        <div class="row g-5">
            <div class="">
                <article class="blog-post">
                    <h3 class="fst-italic">
                        Traditional Alcohol Recommendation AI
                    </h3>

                    <!-- 로딩 중을 나타내는 모달 다이얼로그 -->
                    <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body text-center">
                                    <!-- 굴러가는 로딩 그림 -->
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="sr-only"></span>
                                    </div>
                                    <p class="mt-2">분석중</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <p class="lead my-4 fw-bold">음식 사진을 업로드해보세요.</p>

                    <form method="post" action="/detail" enctype="multipart/form-data">
                        <div class="uploadImg">
                                <div class="text-center border border-gray">
                                    <img id="view" src="/images/createImages.png" style="width: 55%; height: 45%; padding: 5%;">
                                </div>
                        </div>

                        </br>

                        <nav class="blog-pagination" aria-label="Pagination" style="display: flex; justify-content: space-between;">
                                <div class="input-group-prepend">
                                    <input id="imageInput" class="bg-body" style="width: 85%" name="imgFile"
                                           type="file" multiple="multiple" accept="image/jpeg, image/png" onchange="setThumbnail(this); " />
                                </div>
                                <div class="input-group-prepend">
                                <button class="btn btn-inline-black rounded-pill"  onclick="uploadImage(); showLoading();">NEXT</button>
                                </div>
                        </nav>

                    </form>
                </article>
            </div>
        </div>
    </main>


<th:block layout:fragment="script">

    <!--  Ajax를 사용하기 위한 axios 자바스크립트 라이브러리 추가 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script th:src="@{/js/detail.js}"></script>
    <script th:src="@{/js/uploadImage.js}"></script>

    <!-- 이미지 미리보기-->
    <script th:inline="javascript">
        $(function() {
            $("#imageInput").on('change', function() {
              readURL(this);
            });
          });

          function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function(e) {
                $('#view').attr('src', e.target.result);
              }
              reader.readAsDataURL(input.files[0]);
            }
          }

          function showLoading() {
            // 로딩 모달 띄우기
            $('#loadingModal').modal('show');

            // 실제로 로딩이 완료되면 모달을 닫고 다음 페이지로 이동
            setTimeout(function() {
                // 여기에 실제로 다음 페이지로 이동하는 로직을 추가
                // 예를 들어, window.location.href = '다음페이지주소';
                $('#loadingModal').modal('hide');
            }, 3000);  // 3초 동안 로딩 시뮬레이션
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</th:block>
</div>
</body>
</html>
