<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html }"
>

<div layout:fragment="content">
    <main class="container">

        <!-- 서비스 소개글 시작 -->
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="col-lg-6 px-0">
                <p class="lead my-4 fw-bold"></p>
                <p class="lead my-4 fw-bold">우주 라이크 전통주?</p>전통주를 추천해조는 음식과 주류의 완벽한 조화를 찾고 싶은 모든 이들을 위한 특별한 곳입니다.<br> 음식 이미지를 업로드하면, 우리는 어울리는 전통주를 추천해 드립니다. </p>
                <p class="lead mb-0"><a href="/detail" class="text-body-emphasis fw-bold">바로가기</a></p>
            </div>
        </div>
        <!-- 서비스 소개글 끝 -->

        <!-- 전통주 인기순 Top 2 -->
        <div class="row mb-2">
            <div class="col-md-6" th:each="a : ${alcohol}">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="d-inline-block mb-2 text-primary-emphasis" th:text="${a.category}"></div>
                        <strong class="mb-3" th:text="${a.name}"></strong>
                        <div class="mb-1 text-body-secondary" th:text="${#strings.length(a.taste_point) > 25 ? #strings.substring(a.taste_point, 0, 15) + '...' : a.taste_point}"></div>
                        <p class="card-text mb-auto" th:text="${a.alcohol_degree}" style="color: #0a53be; font-weight: bold;"></p>
                        <a th:href="@{a.category}" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" th:src="'/images/'+ ${a.image_path}"
                             role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill=""/>
                        </img>
                    </div>
                </div>
            </div>
        </div>

        <!--Top2 전통주 끝 -->

        <!-- 전통주 소개글 시작 -->
        <div class="row g-5">
            <div class="">
<!--                <h3 class="pb-4 mb-4 fst-italic border-bottom">-->
<!--                    Traditional Alcohol (전통주)-->
<!--                </h3>-->

                <article class="blog-post">
                    <p class="lead my-4 fw-bold">전통주와 함께하는 맛있는 시간</p>
                    <p class="blog-post-meta">November 10, 2023 by <a href="/">Mark</a></p>

                    <p>우리의 [우주 라이크 전통주?]는 음식과 주류의 완벽한 조화를 찾고 싶은 모든 이들을 위한 특별한 곳입니다. 음식 이미지를 업로드하면, 우리는 어울리는 전통주를 추천해 드립니다. 이렇게 추천받은 주류는 음식의 맛을 극대화해줄 것이며, 미각을 충족시키는 새로운 경험을 선사할 것입니다. 게다가, 텍스트 없이도 음식 이미지만으로도 추천이 가능하며, 이는 쉽게 사용 가능한 기능입니다. 또한, 지인에게 선물로 전통주를 주고 싶을 때도 여기서 도움을 받을 수 있습니다. 시작해보세요!</p>
                    <hr>
                    <p>전통주는 한국 문화와 유산을 대변하며, 맛있는 음식과 함께 즐길 때 더욱 특별한 경험을 선사합니다.</p>
                    <p class="lead my-4 fw-bold">사진으로 간편한 추천</p>
                    <p>텍스트를 입력하지 않고도 전통음식 사진만으로도 어울리는 전통주를 추천받을 수 있습니다. 음식 사진을 업로드하면, 우리의 스마트 추천 시스템이 최상의 조합을 찾아드립니다.</p>
                    <p class="lead my-4 fw-bold">음식의 맛을 극대화</p>
                    <p>음식의 맛을 극대화하기 위한 전통주 추천을 찾고 계신가요? 당신의 요리와 어울리는 주류를 찾는 것은 여기에서 간단해집니다. 맛있는 식사 경험을 위해 전통주를 찾는 데 도움을 드립니다.</p>
                    <ul>
                        <li>당신이 좋아하는 음식 이미지를 업로드하고, 우리의 추천 알고리즘을 통해 완벽한 전통주를 찾아보세요.</li>
                        <li>당신의 음식과 전통주에 대한 새로운 인사이트를 얻고, 특별한 순간을 더욱 특별하게 만드는데 도움이 될 것입니다.</li>
                        <li>우리는 음식과 전통주를 사랑하며, 이 웹사이트를 통해 두 가지를 더 가깝게 느낄 수 있도록 도와드립니다.</li>
                    </ul>
                    <p>음식과 전통주를 더 가깝게 : 우리는 음식과 전통주를 사랑합니다. 이 웹사이트를 통해 음식과 전통주를 더 가깝게 느끼고, 특별한 순간을 더욱 특별하게 만들 수 있습니다.</p>
                    <p class="lead my-4 fw-bold">더 많은 전통주 탐구</p>
                    <p>전통주를 더 탐구하려면 다양한 맛을 경험해보세요. 여러 가지 전통주를 시음하고, 그 매력을 발견해보세요. 새로운 경험과 맛있는 음식과 함께한 시간은 귀중한 추억으로 남을 것입니다.</p>
                    <pre><code>이곳에 전통주와 함께한 특별한 순간에 대한 이야기를 공유할 수도 있습니다.</code></pre>
                </article>
            </div>
        </div>
        <!-- 전통주 소개글 끝 -->

    </main>
</div>


</html>
